.container__menu {
    display: none;
}

[class^=swal2] {
    z-index: 100000000;
}

.navigation_bar {
    background-color: rgba(0, 0, 0, 0.384);
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 10000;
    transition: 0.3s;
    text-align: center;
}

.navigation_bar.active {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 10000;
    text-align: center;
}

.navigation_bar .logo_menu {
    position: absolute;
    top: 8px;
    left: 20px;
    color: white;
}

.navigation_bar .nv_list {
    position: relative;
    top: 22px;
    list-style: none;
}

.navigation_bar .nv_list li {
    display: inline;
    margin: 0 -2px 0 -2px;
}

.navigation_bar .nv_list li a {
    font-size: 17px;
    padding: 30px 30px 32.5px 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

.navigation_bar .nv_list li a:hover, .navigation_bar .nv_list li a:focus {
    border-bottom: #968960 solid 1px;
    background-size: 100% 3px;
    color: #968960;
}

/*------------------------------NAVIGATION BAR AL ESQUINA--------------------------------*/

.nav-desplegable {
    position: relative;
    bottom: 10px;
    width: 100px;
    font-size: 20px;
    left: 90%;
}

.menu-desplegable {
    list-style: none;
    display: flex;
    align-items: flex-end;
}

.menu-desplegable li {
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}

.menu-desplegable>li>a {
    font-size: 30px;
    display: block;
    padding: 5px 40px;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

.menu-desplegable>li:hover, .menu-desplegable>a:hover {
    background-color: #968960b3;
    cursor: pointer;
    color: black;
    transition: 0.25s;
}

.menu-desplegable_options {
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.8);
    right: 0;
    transition: 0.25s;
    text-align: start;
    border-radius: 10px;
}

.menu-desplegable li:hover .menu-desplegable_options {
    display: block;
}

.menu-desplegable_options li:hover {
    background-color: #e2aa00;
}

.menu-desplegable_options li a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}

#logout-button:hover {
    background-color: rgb(217, 0, 0);
}

#edit-button::after {
    position: absolute;
    content: url(../header/img/lapiz.png);
    width: 20px;
    height: 20px;
    left: 250px;
    bottom: 27px;
    transform: scale(0.05);
    color: white;
}

#logout-button::after {
    position: absolute;
    content: url(../header/img/logout.png);
    width: 20px;
    height: 20px;
    left: 245px;
    bottom: 27px;
    transform: scale(0.05);
    color: white;
}

/*------------------------------NAVIGATION BAR AL MINIMIZAR--------------------------------*/

@media (max-width: 1000px) {
    .nav-desplegable {
        left: 85%;
        transition: 1s;
    }
}

@media (max-width: 800px) {
    .nav-desplegable {
        left: 80%;
    }
}

@media (max-width: 750px) {

    .swal2-popup {
        position: relative;
        bottom: 100px;
    }

    .navigation_bar .nv_list li {
        display: none;
    }

    .menu-desplegable {
        display: none;
    }

    .bars__menu {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        bottom: 10px;
        transform: translate(-50%, -50%) scale(1.5);
        z-index: 99999;
        align-items: center;
        cursor: pointer;
        transition: .2s;
    }

    .bars__menu span {
        display: block;
        width: 100%;
        height: 3px;
        background: #ffffff;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 300ms;
    }

    .activeline1__bars-menu {
        transform: rotate(45deg) translate(-2px, 1px);
    }

    .activeline2__bars-menu {
        opacity: 0;
        margin-right: 30px;
    }

    .activeline3__bars-menu {
        transform: rotate(-45deg) translate(-2px, 2px);
    }

    .container__menu {
        display: block;
        z-index: 800000;
        position: fixed;
        top: 75px;
        left: -300px;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.796);
        width: 300px;
        height: 100vh;
        transition: 0.5s;
    }

    .menu__active {
        z-index: 800000;
        position: fixed;
        top: 75px;
        left: 0px;
        opacity: 100;
        background-color: rgba(0, 0, 0, 0.796);
        width: 300px;
        height: 100vh;
        transition: 0.5s;
    }

    .nv_list_mobile {
        width: 100%;
        position: relative;
        height: 450px;
        list-style: none;

    }

    .nv_list_mobile li {
        border-bottom: 2px solid rgba(128, 128, 128, 0.388);
        line-height: 50px;
    }

    .nv_list_mobile li:hover {
        background-color: rgba(255, 0, 0, 0.911);
    }

    .nv_list_mobile li #mobile-a {
        text-decoration: none;
        padding: 15px 0;
        padding-right: 200px;
        color: white;
        font-size: 25px;
        position: relative;
        left: 15px;
    }

    #edit-button_mobile, #logout-button_mobile {
        list-style: none;
        position: relative;
        text-decoration: none;
        font-size: 25px;
    }

    #edit-button_mobile a, #logout-button_mobile a {
        position: relative;
        left: 15px;
        text-decoration: none;
        color: white;
        padding: 10px 0;
        padding-right: 130px;
    }

    #edit-button_mobile::after {
        position: absolute;
        content: url(../header/img/lapiz.png);
        width: 20px;
        height: 20px;
        left: 250px;
        transform: scale(0.05);
        color: white;
    }

    #edit-button_mobile:hover {
        background-color: #e2aa00;
    }


    #logout-button_mobile::after {
        position: absolute;
        content: url(../header/img/logout.png);
        width: 20px;
        height: 20px;
        left: 245px;
        transform: scale(0.05);
        color: white;
    }

    #logout-button_mobile:hover {
        background-color: red;
    }
}