* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(20, 20, 20);
}

    .pattern_background {
        position: absolute;
        top: 10px;
        left: 10px;
        background: url("img/fondoKikos.png");
        width: 1500px;
        height: 1080px;
        z-index: -3;
    }

    .navigation_bar {
        background-color: rgba(0, 0, 0, 0.079);
        position: fixed;
        width: 100%;
        height: 75px;
        z-index: 10000;
        transition: 0.3s;
        text-align: center;
    }

    .navigation_bar.active {
        background-color: rgb(0, 0, 0);
        position: fixed;
        width: 100%;
        height: 75px;
        z-index: 10000;
        text-align: center;
    }

        .navigation_bar .logo_menu {
            position: absolute;
            top: 8px;
            left: 0px;
            color: white;
        }

            .navigation_bar .logo_menu:hover {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }

        .navigation_bar .nv_list {
            position: relative;
            top: 22px;
            list-style: none;
        }

            .navigation_bar .nv_list li {
                display: inline;
                margin: 0 -2px 0 -2px;
            }

                .navigation_bar .nv_list li a {
                    font-size: 17px;
                    padding: 30px 30px 32.5px 30px;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 1px;
                    transition: background-size .3s;
                }

                .navigation_bar .nv_list li a:hover, .navigation_bar .nv_list li a:focus {
                    border-bottom: #ffffff solid 1px;
                    background-size: 100% 3px;
                    color: rgb(255, 255, 255);
                }

        @media (max-width: 750px) {
            .navigation_bar .nv_list li {
                display: none;
            }

        }

        @media (min-width: 1601px) {
            .pattern_background {
                width: 1900px;
                height: 1200px;
            }
        }

    .front_face {
        float: left;
        width: 50%;
        height: 600px;
    }

    .front_face #imagen_frente {
        position: relative;
        top: 100px;
        display: block;
        margin: auto;
        z-index: 2000;
    }

        .front_face h1 {
            position: relative;
            top: 110px;
            color: white;
            text-align: center;
            height: 200px;
            line-height: 50px;
            font-size: 50px;
            text-decoration: underline;
        }
        
        .front_face p { 
            font-family: 'Akshar', sans-serif;
            position: relative;
            bottom: 20px;
            color: white;
            margin: 20px;
            font-size: 25px;
        }

        .front_face .separation {
            position: sticky;
            width: 80%;
            height: 20px;
            margin: 0 auto;
        }

    @media (max-width: 800px) {
        .front_face {
            top: 30px;
            width: 100%;
            transition: 1s;
        }
        .front_face h1 {
            top: 90px;
            line-height: 100px;
            font-size: 45px;
            transition: 1s;
        }
        .front_face p { 
            margin: 10px 10px;
            text-justify: center;
            transition: 1s;
        }
        .slider1 {
            width: 100%;
        }
        .slides1 {
            width: 100%;
        }
    }

    .sol-light {
        position: absolute;
        right: 90px;
        
    }

    /* Switch Modo Blanco */

    .light-mode-switch {
        position: absolute;
        right: 20px;
        width: 60px;
        height: 34px;
    }

        .light-mode-switch input {
            display:none;
        }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
       
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
       
      
    input:checked + .slider {
        background-color: #00ac48;
    }
       
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

    .slider.round {
        border-radius: 34px;
    }
       
        .slider.round:before {
            border-radius: 50%;
        }

    .dark-mode {
        background-color: #757575;
    }

    /* Slider */

    .position-slider {
        float: left;
        width: 50%;
        height: 600px;
    }

    .slider1 {
        position: relative;
        top: 100px;
        width: 95%;
        height: 470px;
        border-radius: 5px;
        overflow: hidden;
        z-index: 8000;
        margin: 0 auto;
    }
      
    .slides1 {
        width: 500%;
        height: 500px;
        display: flex;
        z-index: 8001;
    }

    .slides1 input {
        display: none;
    }

    .slide {
        width: 20%;
        transition: 2s;
    }

    .slide img {
        width: 800px;
        height: 500px;
    }

    .slide1 {
        width: 20%;
        transition: 2s;
    }

    .slide1 img {
        width: 800px;
        height: 500px;
    }

    /* manual */

    .navigation-manual {
        position: absolute;
        width: 95%;
        margin-top: -80px;
        display: flex;
        justify-content: center;
        z-index: 9000;
    }

    .manual-btn {
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
        z-index: 9001;
    }

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

        .manual-btn:hover {
            background: rgba(255, 255, 255, 0.644);
        }
    
    #radio1:checked ~ .first {
        margin-left: 0;
    }

    #radio2:checked ~ .first {
        margin-left: -20%;
    }

    #radio3:checked ~ .first {
        margin-left: -40%;
    }

    #radio4:checked ~ .first {
        margin-left: -60%;
    }

    .navigation-auto {
        position: absolute;
        display: flex;
        width: 95%;
        justify-content: center;
        margin-top: 420px;
    }

    .navigation-auto div {
        border: 2px solid white;
        padding: 5px;
        border-radius: 5px;
        transition: 1s;
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1 {
        background: white;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2 {
        background: white;
    }

    #radio3:checked ~ .navigation-auto .auto-btn3 {
        background: white;
    }

    #radio4:checked ~ .navigation-auto .auto-btn4 {
        background: white;
    }

    @media (max-width: 800px) {
        .position-slider {
            position: relative;
            width: 100%;
            height: 23rem;
            transition: 1s;
        }
        .front_face #imagen_frente {
            top: 40px;
        }
        .front_face h1 {
            top: 30px;
        }
        .front_face p {
            top: -70px;
            font-size: 20px;
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
        .slider1 {
            width: 400px;
            display: grid;
            justify-content: center;
            transition: 2s;
            height: 50px;
        }
    }

    @media (max-width: 900px) {
        .front_face #imagen_frente {
            width: 350px;
            height: 200px;
            transition: 1s;
        }
        .front_face h1 {
            font-size: 40px;
            transition: 1s;
        }
        .front_face p {
            font-size: 20px;
            transition: 1s;
        }
    }

    @media (max-width: 1150px) {
        .front_face #imagen_frente {
            width: 450px;
            height: 225px;
            transition: 1s;
        }
        .front_face h1 {
            font-size: 42px;
            transition: 1s;
        }
        .front_face p {
            font-size: 22px;
            transition: 1s;
            text-align: justify;
        }
        .slide1 img {
            width: 100%;
            height: auto;
            transition: 1s;
        }
        .slide img {
            width: 100%;
            height: auto;
            transition: 1s;
        }
        .slider1 {
            height: 260px;
            transition: 1s;
        }
        .navigation-manual {
            top: 300px;
            transition: 1s;
        }
        .navigation-auto {
            top: 300px;
            transition: 1s;
        }
    }

    @media (max-width: 420px) { 
        .slide1 img {
            width: 100%;
            height: auto;
        }
        .slide img {
            width: 100%;
            height: auto;
        }
        .slider1 {
            width: 90%;
            height: 230px;
        }
        .navigation-manual{
            top: 280px;
            transition: 1s;
        }
        .navigation-auto {
            top: 280px;
            transition: 1s;
        }
        .front_face #imagen_frente {
            width: 300px;
            height: 300px;
            top: -60px;
            transition: 1s;
        }
        .front_face h1{
            top: -130px;
        }
        .front_face p{
            top: -240px;
        }
    }
    @media (max-width: 370px) {
        .position-slider {
            height: 20rem;
        }
        .slider1 {
            width: 90%;
            height: 210px;
        }
        .navigation-manual{
            top: 260px;
        }
        .navigation-auto {
            top: 260px;
        }
        .front_face #imagen_frente {
            top: -40px;
            width: 300px;
            height: 300px;
            transition: 1s;
        }
        .front_face h1{
            top: -90px;
            line-height: 35px;
        }
        .front_face p{
            top: -200px;
        }
    }
    
