* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

    .navigation_bar {
        background-color: rgb(24, 24, 24);
        position: fixed;
        width: 100%;
        height: 75px;
        z-index: 10000;
        text-align: center;
    }

        .navigation_bar .nv_list {
            position: relative;
            top: 22px;
            list-style: none;
        }

            .navigation_bar .nv_list li {
                display: inline;
                margin: 0 0 0 0;
            }

                .navigation_bar .nv_list li a {
                    font-size: 17px;
                    padding: 30px 30px 30px 30px;
                    text-decoration: none;
                    color: rgb(190, 190, 190);
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 1px;
                    transition: background-size .3s;
                }

                .navigation_bar .nv_list li a:hover, .navigation_bar .nv_list li a:focus {
                    border-bottom: white solid 1px;
                    background-size: 100% 3px;
                    color: rgb(255, 255, 255);
                }

        @media (max-width: 750px) {
            .navigation_bar .nv_list li {
                display: none;

            }
            
        }

    .front_face {
        background-color: rgb(12, 12, 12);
        position: relative;
        width: 70%;
        height: 1000px;
        margin: 0 auto;
        z-index: 5000;
    }

    .front_face #imagen_frente {
        position: relative;
        top: 130px;
        display: block;
        margin: auto;
        z-index: 40000;
    }

        .front_face h1 {
            position: relative;
            top: 100px;
            color: white;
            text-align: center;
            height: 200px;
            line-height: 200px;
            font-size: 90px;
            text-decoration: underline;
        }

        .front_face .separation {
            position: sticky;
            width: 80%;
            height: 20px;
            margin: 0 auto;
        }

    @media (max-width: 1000px) {

        .front_face {
            width: 80%;
        }
        .front_face h1 {
            line-height: 100px;
        }
    }