* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.login-pos {
  position: absolute;
  z-index: 9000;
  width: 500px;
  height: 500px;
  display: block;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}

.login-box {
  position: relative;
  width: 90%;
  height: 90%;
  top: 20px;
  margin: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .login-form h1 {
    position: relative;
    text-align: center;
    color: white;
    height: 180px;
    bottom: 100px;
  }

  .login-form #user {
    background: linear-gradient(to top, rgb(63, 63, 63), rgba(255, 255, 255, 0.100));
    width: 90%;
    height: 60px;
    justify-content:  center;
    border-radius: 40px;
    border: none;
    text-align: center;
    font-size: 18px;
    color: white;
  }

  .login-form #password {
    background: linear-gradient(to top, rgb(63, 63, 63), rgba(255, 255, 255, 0.100));
    margin-top: 10px;
    width: 90%;
    height: 60px;
    text-align: center;
    justify-content:  center;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    color: white;
  }

  .login-form #password:focus,
  .login-form #user:focus {
    width: 95%;
    transition: 0.25s;
  }

    .login-form input::placeholder {
      position: relative;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.684);
    }

    .login-form input {
      position: relative;
      font-size: 20px;
      outline: none;
    }

  .login-form button {
    background-color: rgba(88, 88, 88, 0.378);
    margin-top: 10px;
    width: 90%;
    height: 60px;
    justify-content:  center;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    color: rgb(255, 255, 255);
  }

    .login-form button:hover {
      background: rgb(160, 144, 236);
      transition: .5s;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.562);
      color: rgb(208, 208, 208);
    }

.login-footer {
  position: relative;
  display: flex;
  width: 500px;
  top: 15px;
  color: white;
  left: 25px;
}

  .login-footer h5 {
    position: relative;
    font-size: 15px;
    color: white;
  }

  .login-footer h6 a {
    position: relative;
    left: 5px;
    font-size: 15px;
    color: white;
    text-decoration: none;
  } 
  
    .login-footer h6 a:hover {
      color: #0f9bf6;
    }

.taponxd {
  background-color: #444444;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: -150px;
  z-index: 180;
}

/*------------------------------------ OLAS ------------------------------------*/

.container {
  height: 500px;
  background: #0f9bf6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-family: Arial;
  text-align: center;
  font-size: 2em;
  color: rgba(255,255,255, .8);
}

.waves {
  position: absolute;
  bottom: -135px;
  height: 527px;
  width: 100%;
  overflow: hidden;
}
.wave {
  position: absolute;
  left: -180px;
  bottom: 0;
  width: 2402px;
  height: 427px;
  background: url(https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png) center bottom no-repeat;
  animation: 5s wave ease-in-out infinite alternate;
}
.wave.a {
  background-position: 0 -854px;
}
.wave.b {
  background-position: 0 -427px;
  animation-delay: .6s;
}
.wave.c {
  background-position: 0 0;
  animation-delay: 1.2s;
}

@keyframes wave {
  0% {
    transform: translate(0 , 0);
  }
  50% {
    transform: translate(-80px, 30px);
  }
  100% {
    transform: translate(160px, -60px);
  }
}

/*--------------------------- LOGOS VOLADORES XD ------------------------------*/

.area{
  background: transparent;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  z-index: 200;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles .logo{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: transparent;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles .logo:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  opacity: 100;
}


.circles .logo:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  opacity: 100;
}

.circles .logo:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles .logo:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles .logo:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles .logo:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles .logo:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles .logo:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles .logo:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles .logo:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(-1000px) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  60%{
      transform: translateY(1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
  /*------------------------------------ FONDO LINEAS DIAGONALES ------------------------------------*/

:root {
  --stripe-size: 100px;
  --color1: rgb(0, 0, 0);
  --color2: #1d1d1d81;
  --duration: 2s;
}

body {
  display: flex;
  height: 100vh;
}

.stripe {
  opacity: 100;
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.stripe_inner {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 8rem;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: rgba(255, 255, 255, 0);
  background: repeating-linear-gradient(45deg, var(--color1) 25%, var(--color1) 50%, var(--color2) 50%, var(--color2) 75%);
  background-size: var(--stripe-size) var(--stripe-size);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-animation: stripeBackgroundPosition var(--duration) linear infinite;
          animation: stripeBackgroundPosition var(--duration) linear infinite;
}
.stripe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + var(--stripe-size));
  height: 100%;
  background: repeating-linear-gradient(45deg, var(--color2) 25%, var(--color2) 50%, var(--color1) 50%, var(--color1) 75%);
  background-size: var(--stripe-size) var(--stripe-size);
  -webkit-animation: stripeTransform var(--duration) linear infinite;
          animation: stripeTransform var(--duration) linear infinite;
}
.stripe::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(27, 39, 53, 0) 0%, #090a0f 100%);
}

@-webkit-keyframes stripeTransform {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(var(--stripe-size) * -1));
            transform: translateX(calc(var(--stripe-size) * -1));
  }
}

@keyframes stripeTransform {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(var(--stripe-size) * -1));
            transform: translateX(calc(var(--stripe-size) * -1));
  }
}
@-webkit-keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(var(--stripe-size) * -1) 0;
  }
}
@keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(var(--stripe-size) * -1) 0;
  }
}