* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.login-pos {
  position: absolute;
  z-index: 9000;
  width: 500px;
  height: 500px;
  display: block;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}

.login-box {
  position: relative;
  width: 90%;
  height: 90%;
  top: 20px;
  margin: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .login-form h1 {
    position: relative;
    text-align: center;
    color: white;
    height: 180px;
    bottom: 100px;
  }

  .login-form #user {
    background: linear-gradient(to top, rgb(63, 63, 63), rgba(255, 255, 255, 0.100));
    width: 90%;
    height: 60px;
    justify-content:  center;
    border-radius: 40px;
    border: none;
    text-align: center;
    font-size: 18px;
    color: white;
  }

  .login-form #password {
    background: linear-gradient(to top, rgb(63, 63, 63), rgba(255, 255, 255, 0.100));
    margin-top: 10px;
    width: 90%;
    height: 60px;
    text-align: center;
    justify-content:  center;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    color: white;
  }

  .login-form #password:focus,
  .login-form #user:focus {
    width: 95%;
    transition: 0.25s;
  }

    .login-form input::placeholder {
      position: relative;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.684);
    }

    .login-form input {
      position: relative;
      font-size: 20px;
      outline: none;
    }

  .login-form button {
    background-color: rgba(88, 88, 88, 0.378);
    margin-top: 10px;
    width: 90%;
    height: 60px;
    justify-content:  center;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    color: rgb(255, 255, 255);
  }

    .login-form button:hover {
      background: rgb(63, 63, 63);
      transition: .5s;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.562);
      color: rgb(208, 208, 208);
    }

.login-footer {
  position: relative;
  display: flex;
  width: 500px;
  top: 15px;
  color: white;
  left: 25px;
}

  .login-footer h5 {
    position: relative;
    font-size: 15px;
    color: white;
  }

  .login-footer h6 a {
    position: relative;
    left: 5px;
    font-size: 15px;
    color: white;
    text-decoration: none;
  } 
  
    .login-footer h6 a:hover {
      color: #0f9bf6;
    }

.taponxd {
  background-color: #444444;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: -150px;
}

/*------------------------------------ OLAS ------------------------------------*/

.container {
  height: 500px;
  background: #0f9bf6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-family: Arial;
  text-align: center;
  font-size: 2em;
  color: rgba(255,255,255, .8);
}

.waves {
  position: absolute;
  bottom: -135px;
  height: 527px;
  width: 100%;
  overflow: hidden;
}
.wave {
  position: absolute;
  left: -180px;
  bottom: 0;
  width: 2402px;
  height: 427px;
  background: url(https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png) center bottom no-repeat;
  animation: 5s wave ease-in-out infinite alternate;
}
.wave.a {
  background-position: 0 -854px;
}
.wave.b {
  background-position: 0 -427px;
  animation-delay: .6s;
}
.wave.c {
  background-position: 0 0;
  animation-delay: 1.2s;
}

@keyframes wave {
  0% {
    transform: translate(0 , 0);
  }
  50% {
    transform: translate(-80px, 30px);
  }
  100% {
    transform: translate(160px, -60px);
  }
}

